.burger_constructor {
  display: flex;
  flex-direction: column;
  width: 600px;
  min-height: 0;
  color: var(--text-primary-color);
}

.list {
  display: flex;
  flex: 0 1 auto;
  flex-direction: column;
  gap: 16px;
  min-height: 0;
  margin: 16px 0;
  padding: 0;
  overflow-y: auto;
  list-style-type: none;
}

.total {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.price {
  display: flex;
  align-items: center;
  gap: 8px;
}
