.details {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image {
  width: 480px;
  height: 240px;
  object-fit: contain;
}

.name {
  text-align: center;
}

.nutrition {
  display: grid;
  grid-auto-columns: 1fr;
  grid-auto-flow: column;
  gap: 20px;
  width: fit-content;
  margin-bottom: 0;
  padding: 0;
  list-style-type: none;
}

.item {
  color: var(--text-inactive-color);
  text-align: center;
}
